extends ../layout/index

block vars
  - var pageTitle = "Crea una contrase単a nueva"

block content
  +title(pageTitle)

  div(class="mx-auto mt-8 max-w-sm")
    div(class="bg-white px-8 py-8 shadow")
      form(
        class="flex flex-col gap-y-5"
        method="POST"
        noValidate
      )
        +csrf
        div
          +input('password')(
            type="password"
            placeholder="Contrase単a nueva"
          )
        div
          +input('confirmPassword')(
            type="password"
            placeholder="Repetir contrase単a nueva"
          )
        div
          +submit('Restablecer contrase単a')(class="w-full")
