header(class="container mx-auto flex items-center justify-between bg-indigo-600 p-4")
  div(class="text-2xl font-extrabold text-white") Bienes
    span(class="font-normal") #{ ' ' } Raices

  nav(class="text-sm font-bold text-white md:flex md:items-center md:gap-3")
    a(href="") Mis propiedades
    a(href="") Mi perfil
    a(
      class="rounded-lg bg-indigo-800 p-2 px-10"
      onclick="event.preventDefault(); document.getElementById('frm-logout').submit();"
      href="#"
    ) Cerrar sesión
    form#frm-logout(
      method="POST"
      action="/auth/logout"
      class="hidden"
    )
      +csrf
